Start Simulator Configuration File:
Version/Phase: 1.05
CPU Scheduling Code: FCFS-N
Quantum Time (cycles): 45
Memory Available (KB): 333     
Processor Cycle Time (msec): 9
File Path: metadata4.mdf
I/O Cycle Time (msec): 22
Log To: Both
Log File Path: fcfsn_Sample.lgf
End Simulator Configuration File.

